@model Nop.Web.Areas.Admin.CustomModels.Employees.EmployeeModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

@{
    const string hideInfoBlockAttributeName = "CustomerPage.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName);
}

    <div class="content">
        <div class="form-horizontal">
            <nop-panels id="employee-panels">
                <nop-panel asp-name="employee-info" asp-icon="fa fa-info" asp-title="@T("Admin.Employees.Employees.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-panel>

                @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerDetailsBlock, additionalData = Model })
            </nop-panels>
        </div>
    </div>